[Unit]
Description=Mount Unraid NFS Share (Data)
After=network-online.target
Wants=network-online.target

[Mount]
What=192.168.50.3:/mnt/user/data
Where=/mnt/unraid/data
Type=nfs
Options=_netdev,noatime,nofail,x-systemd.automount

[Install]
WantedBy=multi-user.target
